<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p (%C:%L) - %m%n"/>
        </layout>
    </appender>

    <appender name="TextFile" class="org.apache.log4j.FileAppender">
        <param name="File" value="target/logs/nutrix.fatal.log"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-24d %-5p (%C{1}.%M @ %-4L) - %m%n"/>
        </layout>
    </appender>

    <appender name="RollingFile" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="target/logs/nutrix.debug.log"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p [%t] (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="net.cokkee">
        <level value="debug"/>
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </logger>

    <root>
        <level value="fatal"/>
        <appender-ref ref="TextFile"/>
        <appender-ref ref="Console"/>
    </root>

</log4j:configuration>
